body {
	margin:0;
	font-family: Helvetica, Arial, sans-serif;
}

#container {
	margin: 20px;
}

tr:nth-child(2n) {
	background: #eee;
}

thead {
    font-weight: bold;
}

table {
    border: none;
    border-spacing: 0px;
    text-align: center;
    width: 100%;
}
td {
    border: none;
    height: 30px;
    padding-top: 5px;
}

@keyframes blink {
    /**
     * At the start of the animation the dot
     * has an opacity of .2
     */
    0% {
      opacity: .2;
    }
    /**
     * At 20% the dot is fully visible and
     * then fades out slowly
     */
    20% {
      opacity: 1;
    }
    /**
     * Until it reaches an opacity of .2 and
     * the animation can start again
     */
    100% {
      opacity: .2;
    }
}

td.soon:nth-child(1)::before {
	content: "⚫ ";
	animation-name: blink;
	animation-duration: 1.4s;
	animation-iteration-count: infinite;
	animation-fill-mode: both;
	color: #27ae60;
}

td.supersoon:nth-child(1)::before {
    content: "⚫ ";
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    color: #c0392b;
}