@font-face {
	font-family: 'Roboto Condensed';
	src: url('assets/RobotoCondensed-Regular.ttf');
}
@font-face {
	font-family: 'Roboto Condensed';
	src: url('assets/RobotoCondensed-Bold.ttf');
	font-weight: bold;
}

body {
	margin:0;
	font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
	background-color: black;
	color: #eee;
}

h1 { margin: 20px; }

#error {
	background-color: #F2DEDE;
	color: black;
	position: fixed;
	border-top: 4px solid #A94442;
	bottom: 0%;
	left: 0%;
	z-index: 100;
	margin: 0;
	padding: 0 1em;
	width: 100%;
}
#warning {
	display: none;
	background-color: #fcf8e3;
	color: black;
	position: fixed;
	border-top: 4px solid #f0ad4e;
	bottom: 0%;
	left: 0%;
	z-index: 100;
	margin: 0;
	padding: 0;
	width: 100%;
}
#warning p {
	padding: 0 1em;
}
#warning_counter {
	color: #f0ad4e;
	float: right;
}

#currentTime{
	float:right;
	font-weight:bold;
}
table {
	border: none;
	border-spacing: 0px;
	text-align: left;
	width: 100%;
}

thead { font-weight: bold; }
tbody > tr:nth-child(2n) { background: #222; }
tbody > tr:nth-child(2n+1) { background: #333; }
td { border: none; }
tr > td:nth-child(1) { text-align: center; }

tr > td:nth-child(2) {
	text-align: center;
	position: relative;
}
tr > td:nth-child(2) span, tr > td:nth-child(2) img {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
tr > td:nth-child(2) span {
	padding: 0 3px;
	font-size: 90%;
	font-weight: bold;
}

tr > td:nth-child(2) img { height: 80%; }
tr > td:nth-child(3) { padding-right: 10px; }

td.time:nth-child(1)::before {
	content: "â—\00a0";
	opacity:0;
}
td.hurry:nth-child(1)::before {
	animation: blink 1s steps(5, start) infinite;
	-webkit-animation: blink 1s steps(5, start) infinite;
	color: #c0392b;
	opacity:1;
}
td.soon:nth-child(1)::before {
	animation: blink 1s steps(5, start) infinite;
	-webkit-animation: blink 1s steps(5, start) infinite;
	color: #27ae60;
	opacity:1;
}
.tram {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #000;
	color: #FFF;
}
.bus {
	padding: 0 3px;
	background: #030e6b;
	color: #FFF;
}
.nightline {
	padding: 0 3px;
	background: #140D4F;
	color: #F9EC28;
}

@media (max-width: 1280px) {
	body { overflow: hidden; }
	h1 { font-size: 50px; }

	#error {
		font-size:30px;
		line-height:30px;
	}
	#warning {
		font-size:30px;
		line-height:30px;
	}
	td {
		height: 60px;
		font-size: 48px !important;
		line-height: 58px;
		overflow: hidden;
		white-space: nowrap;
	}
	tr > td:nth-child(2) span, tr > td:nth-child(2) img {
		height: 58px;
		min-width: 58px;
		padding: 0 !important;
	}
	tr > td:nth-child(3) {
		padding-left: 10px;
	}
}

@keyframes blink {
	to { visibility: hidden; }
}
