body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
}

.container {
  margin: 20px;
}

.error {
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  background-color: #F2DEDE;
  border-left: 8px solid #A94442;
  left: 50%;
  margin: 0;
  padding: 10px 20px;
  position:absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.currentTime{
  float: right;
  font-weight: bold;
}

table {
  border-spacing: 0;
  border: none;
  text-align: left;
  width: 100%;
}

thead {
  font-weight: bold;
}

tbody > tr:nth-child(2n+1) {
  background: #eee;
}

td {
  border: none;
}

tr > td:nth-child(1) {
  text-align: center;
}

tr > td:nth-child(2) {
  text-align: center;
  position: relative;
}

tr > td:nth-child(2) span, tr > td:nth-child(2) img {
  left: 50%;
  position: absolute;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

tr > td:nth-child(2) span {
  font-size: 90%;
  font-weight: bold;
  padding: 0 3px;
}

tr > td:nth-child(2) img {
  height: 80%;
}

tr > td:nth-child(3) {
  padding-right: 5px;
}

.time:nth-child(1)::before {
  content: "⚫\00a0";
  opacity: 0;
}

.blink:nth-child(1)::before {
  animation-duration: 1.4s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: blink;
}

.soon:nth-child(1)::before {
  color: #27ae60;
  opacity: 1;
}

.supersoon:nth-child(1)::before {
  color: #c0392b;
}

.tram {
  background: #000;
  border-radius: 50%;
  color: #FFF;
}

.bus {
  background: #030e6b;
  color: #FFF;
  padding: 0 3px;
}

.nightline {
  background: #140D4F;
  color: #F9EC28;
  padding: 0 3px;
}

@media (max-width: 1280px) {
  body {
    overflow: hidden;
  }

  h1 {
    font-size: 40px;
  }

  .error {
    font-size: 20px;
    line-height: 20px;
  }

  td {
    font-size: 28px;
    height: 40px;
    line-height: 38px;
  }

  tr > td:nth-child(2) span {
    height: 38px;
  }

  tr > td:nth-child(2) img {
    height: 38px;
  }

  .tram {
    padding: 0;
    width: 38px;
  }
}

@keyframes blink {
  /**
  * At the start of the animation the dot
  * has an opacity of .2
  */
  0% {
    opacity: .2;
  }
  /**
  * At 20% the dot is fully visible and
  * then fades out slowly
  */
  20% {
    opacity: 1;
  }
  /**
  * Until it reaches an opacity of .2 and
  * the animation can start again
  */
  100% {
    opacity: .2;
  }
}
