extends layout

block head
	meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
	script(type='text/javascript', src='js/weather/WeatherWidget.js')
	script(type='text/javascript', src='js/weather/weather.js')
	script(type='text/javascript', src='update.js')
	script(type='text/javascript', src='settings.js')
	link(href='/themes/' + theme, type='text/css', rel='stylesheet')

block content
	#weather
		h1
			span.error#weatherError ⚠
			| Weather Forecast
		object#forecast(type="image/svg+xml",data="/themes/assets/weather.svg")
	#container
		h1
			span.error#trafficError ⚠
			| #{title}
			span#currentTime
	#error
		h2 Oh noes, something broke!
		p Sorry but Öffimonitor will be back soon.
