/*
	This depends on the main stylesheet to have been already loaded so that the fonts are available
	if the font declaration is put in here too, they will be loaded twice, once for the HTML document
	and once for the SVG. This creates interesting problems with fonts disappearing at least in chrome
*/

body {
	margin:0;
	font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
	background-color: black;
	color: #eee;
}

h1 { margin: 20px; }

/* Hide Unicode-Warning Symbol in front of headings by default, made visible by Javascript */
span.error {
	color:red;
	font-family:sans-serif;
	display:none;
}

#error {
	background-color: #F2DEDE;
	color: black;
	position:absolute;
	padding: 10px 20px;
	border-left: 8px solid #A94442;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 100;
	margin:0;
}
#currentTime{
	float:right;
	font-weight:bold;
}
table {
	border: none;
	border-spacing: 0px;
	text-align: left;
	width: 100%;
}

thead { font-weight: bold; }
tbody > tr:nth-child(2n) { background: #222; }
tbody > tr:nth-child(2n+1) { background: #333; }
td { border: none; }
tr > td:nth-child(1) { text-align: center; }

tr > td:nth-child(2) {
	text-align: center;
	position: relative;
}
tr > td:nth-child(2) span, tr > td:nth-child(2) img {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
tr > td:nth-child(2) span {
	padding: 0 3px;
	font-size: 90%;
	font-weight: bold;
}

tr > td:nth-child(2) img { height: 80%; }
tr > td:nth-child(3) { padding-right: 10px; }

td.time:nth-child(1)::before {
	content: "⚫\00a0";
	opacity:0;
}
td.supersoon:nth-child(1)::before {
	animation-name: blink;
	animation-duration: 1.4s;
	animation-iteration-count: infinite;
	animation-fill-mode: both;
	-webkit-animation-name: blink;
	-webkit-animation-duration: 1.4s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-fill-mode: both;
	color: #c0392b;
	opacity:1;
}
td.soon:nth-child(1)::before {
	animation-name: blink;
	animation-duration: 1.4s;
	animation-iteration-count: infinite;
	animation-fill-mode: both;
	-webkit-animation-name: blink;
	-webkit-animation-duration: 1.4s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-fill-mode: both;
	color: #27ae60;
	opacity:1;
}
.tram {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #000;
	color: #FFF;
}
.bus {
	padding: 0 3px;
	background: #030e6b;
	color: #FFF;
}
.nightline {
	padding: 0 3px;
	background: #140D4F;
	color: #F9EC28;
}

@media (max-width: 1280px) {
	body { overflow: hidden; }
	h1 { font-size: 50px; }

	#error {
		font-size:20px;
		line-height:20px;
	}
	td {
		height: 60px;
		font-size: 48px !important;
		line-height: 58px;
		overflow: hidden;
		white-space: nowrap;
	}
	tr > td:nth-child(2) span, tr > td:nth-child(2) img {
		height: 58px;
		min-width: 58px;
		padding: 0 !important;
	}
	tr > td:nth-child(3) {
		padding-left: 10px;
	}
}

@keyframes blink {
	0% { opacity: .2; }
	20% { opacity: 1; }
	100% { opacity: .2; }
}


/* Weather forecast */
#weather {
}

#forecast {
	margin-left:1em;
	height:10em;
	/*width:90%;*/
}

/* SVG styles */
svg {
	fill:white;
	font-family:"Roboto Condensed";
}

line {
	stroke:white;
}

svg text#currentTemperature {
	text-anchor:middle;
	font-size:80px;
}

svg text.forecastTime {
	text-anchor:middle;
	font-size:60px;
}

svg text.forecastTemperature {
	text-anchor:middle;
	font-size:30px;
}

svg text#lastUpdate {
	text-anchor:end;
	font-size:30px;
}


line.separator {
	 stroke-width:2;
}
