@font-face {
	font-family:roboto;
	src: url('assets/RobotoCondensed-Regular.ttf');
}

@font-face {
	font-family:roboto;
	font-weight: bold;
	src: url('assets/RobotoCondensed-Bold.ttf');
}

body {
	margin:0 0.5em 0 0.5em;
	font-family: roboto, Helvetica, Arial, sans-serif;
	background-color: white;
	color: black;
	font-size:45px;
}

span.error {
	color:red;
	display:none;
}

#error {
	background-color: #F2DEDE;
	color: black;
	position:absolute;
	padding: 10px 20px;
	border-left: 8px solid #A94442;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 100;
	margin:0;
}
#currentTime{
	float:right;
	font-weight:bold;
}
table {
	border: none;
	border-spacing: 0px;
	text-align: left;
	width: 100%;
}

thead { font-weight: bold; }
tbody > tr:nth-child(2n) { background: #eee; }
/*tbody > tr:nth-child(2n+1) { background: #333; }*/
td { border: none; }
tr > td:nth-child(1) {
    text-align: left;
}

tr > td:nth-child(2) {
	text-align: center;
	position: relative;
}
tr > td:nth-child(2) span, tr > td:nth-child(2) img {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
tr > td:nth-child(2) span {
	padding: 0 3px;
	font-size: 0.9em;
	font-weight: bold;
}

tr > td:nth-child(2) img { height: 80%; }
tr > td:nth-child(3) { padding-right: 10px; }

td:nth-of-type(2) {
	padding:0 5px 0 5px;
}

td:nth-of-type(3) {
	display: none;
}

td:nth-of-type(4) {
	width:100%;
}

/* Hide departure time on nook, because of screen size */
.departureTime {
	display:none;
}

.tram {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #000;
	color: #FFF;
}
.bus {
	padding: 0 3px;
	background: black; /* Nook simple touch is only black and white */
	color: #FFF;
}
.nightline {
	padding: 0 3px;
	background: #000;
	color: #FFF;
}

body { overflow: hidden; }

h1 {
	font-size: 1.2em;
	margin: 0.2em 0 0.2em 0;
}
#error {
    font-size:1em;
}

td {
    font-size: 1em;
    overflow: hidden;
    white-space: nowrap;
}

/* Weather forecast */
#weather {
	/*border-bottom: 1px solid black;*/
}

#forecast {
	/*height:6em;*/
	width:90%;
	/*border:1px dotted black;*/
}
